body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.d-flex {
  display: flex;
  height: 100vh;
}

.aside {
  width: 200px;
  background-color: #343a40;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%; /* Yüksekliği sayfa yüksekliğine yayar */
}

.aside .nav-link {
  color: white;
  margin-bottom: 10px;
}


.aside .nav-link:hover {
  text-decoration: none;
  color: #adb5bd;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

